<div class="c-call-to-action">
	<div class="container">
		<div class="c-call-to-action__inner">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="c-call-to-action__content">
						<h3>Help Shape the Next Generation</h3>
						<p>
							Partner with Your-S-A to empower American students with life skills,
							civic values, and real-world readiness.
						</p>
					</div>

					<div class="c-call-to-action__button">
						<a class="btn" href="/get-involved" role="button">Get Involved</a>
					</div>
				</div>

				<div class="col-md-2"></div>
			</div>


			<span></span>

			<span></span>

			<span></span>

			<span></span>

			<span></span>

			<span></span>

			<span></span>

			<span></span>

			<span></span>

			<span></span>

			<span></span>

			<span></span>

			<span></span>

			<span></span>

			<span></span>

			<span></span>

			<span></span>

			<span></span>

			<span></span>

		</div>
	</div>
</div>