<footer class="c-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="c-footer__footer-column">
                        <div class="c-footer__footer-logo">
                            <img src="/images/white-logo-long-medium.png" style="max-height: 28px;" alt="Yoursa Logo">
                        </div>
                        <div class="c-footer__footer-content">
                            <p>Y<span class="star">★</span>S<span class="star">★</span>A: Shaping Student Futures. Uniquely Yours.</p>
                        </div>
                        <div class="c-footer__copyright-social-icon">
                            <ul class="list-inline text-left">
                                <li class="list-inline-item">
                                    <a href="https://www.linkedin.com/company/yoursa/" aria-label="LinkedIn"><i
                                            class="fab fa-linkedin"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://x.com/yoursa_org" aria-label="Twitter"><i
                                            class="fab fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.facebook.com/yoursa.org" aria-label="Facebook"><i
                                            class="fab fa-facebook"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-6 c-footer__footer-column">
                            <h4 class="c-footer__footer-heading"><a href="/who-we-are">Who We Are</a></h4>
                            <ul class="list-unstyled">

                                <li><a href="/our-mission">Our Mission</a></li>
                                <li><a href="/our-vision">Our Vision</a></li>
                                <li><a href="/our-impact">Our Impact</a></li>
                                <li><a href="/our-reach">Our Reach</a></li>
                            </ul>

                        </div>
                        <div class="col-lg-4 col-md-6 col-6 c-footer__footer-column">
                            <h4 class="c-footer__footer-heading"><a href="/what-we-do">What We Do</a></h4>
                            <ul class="list-unstyled">

                                <li><a href="/programs/youth-development">Youth Development</a></li>
                                <li><a href="/programs/self-management">Self-Management</a></li>
                                <li><a href="/programs/social-skills">Social Skills</a></li>
                                <li><a href="/programs/career-readiness">Career Readiness</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 col-6 c-footer__footer-column">
                            <h4 class="c-footer__footer-heading">About</h4>
                            <ul class="list-unstyled">
                                <li><a href="/about">About</a></li>
                                <li><a href="/blog">News</a></li>
                                <li><a href="/programs/volunteer">Volunteer</a></li>
                                <li><a href="/contact">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-footer__footer-copyright">
                <div class="c-footer__copyright-text">
                    <p>Copyright © Yoursa 2025. All rights reserved.</p>
                    <a href="/privacypolicy">Privacy Policy </a>
                    <a href="/sitemap">Sitemap</a>
                </div>
            </div>
        </div>
    </footer>