<div class="c-header"> <!--- fixed-top removed-->
    <div class="navbar c-header__navbar navbar-expand-lg mainmenu">
        <div class="container">
            <a class="navbar-brand c-header__navbar-brand" href="/">
                <img alt="Yoursa Logo" class="img-fluid" style="max-height: 36px" src="/images/logo-long.png">
            </a>


            <!-- Mobile menu toggle -->
            <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
                class="c-header__mobile-nav-button navbar-toggler" data-target="#navbarNavDropdown"
                data-toggle="collapse" type="button">
                <span>
                    <div class="c-header__toggle-bar1"></div>
                    <div class="c-header__toggle-bar2"></div>
                    <div class="c-header__toggle-bar3"></div>
                </span>
            </button>

            <!-- Main navigation -->
            <nav class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                <ul class="navbar-nav c-header__navbar-nav">
                    <!--<li><a class="nav-link c-header__nav-link active" href="/">Home</a></li>-->
                    <li><a class="nav-link c-header__nav-link" href="/who-we-are">WHO WE ARE</a></li>
                    <li><a class="nav-link c-header__nav-link" href="/what-we-do">WHAT WE DO</a></li>
                    <li><a class="nav-link c-header__nav-link" href="/get-involved">GET INVOLVED</a></li>
                    <li><a class="nav-link c-header__nav-link" href="/volunteer">VOLUNTEER</a></li>
                </ul>

            </nav>
        </div>
    </div>
</div>
<!--  scrolling-text component -->
<scrolling-text 
    class="scrolling-text text-size--larger" 
    data-scrolling-speed="60" 
    data-scrolling-direction="ltr" 
    data-pause-on-hover="true">
    <div>
        <span class="element--horizontal-space--regular-x-2">
            <strong>Monday 15th</strong> is the last testing day of 2025. 
            Tests placed after this date will be checked <strong>in early January</strong>.
        </span>
    </div>
</scrolling-text>
