<div class="c-info-section">
            <div class="c-info-section__caption-title">
                <h4><span class="pr-3">What We Do</span></h4>
            </div>
            <div class="c-info-section__title">
                <h2>Youth programs</h2>
            </div>
            <div class="row c-info-section__row">
                <div class="col-lg-6 text-center">
                    <div class="c-info-section__info-column">
                        <div class="c-info-section__analyze-column_column-image">
                            <img src="/images/chart-bars.svg" class="icon-md" alt="Chart">
                        </div>
                        <div class="c-info-section__analyze-column_column-title">
                            <h3>High impact</h3>
                        </div>
                        <div class="c-info-section__analyze-column_column-content">
                            <p>Whether you're a burgeoning startup or a seasoned enterprise, the Yoursa offers a set
                                of
                                high-impact programs that drive rapid business growth.</p>
                        </div>
                        <a class="btn outline-btn c-info-section__column-button" href="/programs">View more</a>
                    </div>
                </div>
                <div class="col-lg-6 text-center">
                    <div class="c-info-section__info-column">
                        <div class="c-info-section__analyze-column_column-image">
                            <img alt="Experienced mentors icon" src="/images/puzzle-2color.svg" class="icon-md">
                        </div>
                        <div class="c-info-section__analyze-column_column-title">
                            <h3>Experienced mentors</h3>
                        </div>
                        <div class="c-info-section__analyze-column_column-content">
                            <p>Growth flourishes with guidance. The Yoursa connects you with top-tier mentors who
                                provide invaluable insights and practical solutions.</p>
                        </div>
                        <a class="btn outline-btn c-info-section__column-button" href="/programs/mentoring-programs">View more</a>
                    </div>
                </div>
                <div class="col-lg-6 text-center">
                    <div class="c-info-section__info-column">
                        <div class="c-info-section__analyze-column_column-image">
                            <img alt="Trophy icon" src="/images/trophy.svg" class="icon-md">
                        </div>
                        <div class="c-info-section__analyze-column_column-title">
                            <h3>Best program practices</h3>
                        </div>
                        <div class="c-info-section__analyze-column_column-content">
                            <p>The Yoursa offers unparalleled access to best program practices, equipping your
                                business with proven strategies for success.</p>
                        </div>
                        <a class="btn outline-btn c-info-section__column-button" href="/programs/best-practices">View
                            more</a>
                    </div>
                </div>
                <div class="col-lg-6 text-center">
                    <div class="c-info-section__info-column">
                        <div class="c-info-section__analyze-column_column-image">
                            <img alt="Experienced mentors icon" src="/images/group.svg" class="icon-md">

                        </div>
                        <div class="c-info-section__analyze-column_column-title">
                            <h3>Dedicated program team</h3>
                        </div>
                        <div class="c-info-section__analyze-column_column-content">
                            <p>Our dedicated team at the Yoursa ensures meticulous oversight of your projects,
                                enabling
                                you to focus on your core business strengths.</p>
                        </div>
                        <a class="btn outline-btn c-info-section__column-button" href="/programs/dedicated-team">View
                            more</a>
                    </div>
                </div>
            </div>
        </div>